@model Monitoring.Common.CommonModels.AccessPointGroupViewModel

@{
    ViewBag.Title = "DeviceManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <label class="label-info">Device Manager</label>

        @using (Html.BeginForm("", "AccessPoint/SaveDeviceManager", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.GroupId)

                <div class="form-group">
                    @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control chosen-select" multiple name="SelectedDevices">
                        @foreach (var otherDevice in Model.Devices)
                        {
                            if (Model.SelectedDevices != null && Model.SelectedDevices.Contains(otherDevice.DeviceName))
                            {
                                <option value='@otherDevice.DeviceName' selected>@otherDevice.DeviceName</option>
                            }
                            else
                            {
                                <option value='@otherDevice.DeviceName'>@otherDevice.DeviceName</option>
                            }
                        }
                    </select>
                    @*@Html.ListBoxFor(m => m.SelectedServers, new MultiSelectList(Model.Servers, "DeviceId", "DeviceName", Model.SelectedServers), new { @class = "chosen-select form-control", multiple = "multiple" })*@
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>
</div>
@section Scripts {

    @*<link href="~/Scripts/chosen/prism.css" rel="stylesheet" />*@
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @*<script src="~/Scripts/chosen/prism.js"></script>*@
    <script type="text/javascript">

        $(function () {
            $(".chosen-select").chosen({
                    disable_search_threshold: 10,
                    no_results_text: "Oops, nothing found!"//,
                   // width: "45%"
                });
        });</script>
}
